.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
    padding: 20px;
}

.inner {
    padding: 30px;
}

.title {
    text-align: center;
    font-size: var(--font-size-xl);
    font-weight: 500;
    margin: 0 0 40px;
}

.field {
    margin-top: 16px;

    &:first-child {
        margin-top: 0;
    }
}

.submit {
    margin-top: 160px;
}

.signUp {
    font-size: var(--font-size-s);
    text-align: center;
    margin-top: 14px;
}
