.avatar {
    text-align: center;
}

.editAvatar {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0 0 0 / 50%);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    color: var(--light-color);
    box-sizing: border-box;
    padding: 50px;
}

.photoWrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: var(--gray-color);
    overflow: hidden;
    margin: 0 auto 20px;

    &:hover {
        .editAvatar {
            display: flex;
        }
    }
}

.photo {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.name {
    font-size: var(--font-size-l);
    margin: 0;
}

.uploadAvatar {
    position: relative;
}

.label {
    font-size: var(--font-size-s);
    font-weight: 500;
    text-decoration: underline;
    color: var(--primary-color);
    cursor: pointer;
}

.input {
    opacity: 0;
    position: absolute;
    z-index: -9999;
}

.actionSubmit {
    margin-top: 33px;
}
