.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter, serif;
    font-size: var(--font-size-m);
    border: 0;
    outline: none;
    background: none;
    color: var(--font-color);
    cursor: pointer;

    &.rounded {
        min-width: 28px;
        width: 28px;
        height: 28px;
        border-radius: 50%;
    }
}

.themeDefault {
    background: var(--primary-color);
    color: var(--light-color);
    min-width: 280px;
    height: 37px;
    border-radius: 8px;
}

.themeBlankLight {
    color: var(--light-color);
}

.icon {
    background-size: contain;

    &[data-icon="next"] {
        background: url('../../assets/images/next.svg') no-repeat center center;
        width: 10px;
        height: 10px;
    }

    &[data-icon="prev"] {
        background: url('../../assets/images/prev.svg') no-repeat center center;
        width: 10px;
        height: 10px;
    }

    &[data-icon="add"] {
        background: url('../../assets/images/add.svg') no-repeat center center;
        width: 22px;
        height: 22px;
    }

    &[data-icon="remove"] {
        background: url('../../assets/images/remove.svg') no-repeat center center;
        width: 22px;
        height: 22px;
    }

    &[data-icon="settings"] {
        background: url('../../assets/images/settings.svg') no-repeat center center;
        width: 22px;
        height: 22px;
    }
}

.iconOffset {
    margin-right: 15px;
}
