.profile {
    height: 100vh;
    box-sizing: border-box;
    padding: 60px 20px;
}

.inner {
    max-width: 510px;
    height: auto;
    margin: 0 auto;
}

.avatar {
    margin-bottom: 40px;
}

.back {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--light-gray-color);
    border-right: 1px solid var(--gray-color);
}

.backLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 28px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: var(--primary-color);
    color: var(--primary-color);
    font-size: 0;

    &::before {
        display: block;
        content: '';
        background: url('../../assets/images/prev.svg') no-repeat center center;
        background-size: contain;
        width: 10px;
        height: 10px;
    }
}
