@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --font-size-xs: 11px;
    --font-size-s: 12px;
    --font-size-m: 13px;
    --font-size-l: 15px;
    --font-size-xl: 20px;
    --font-color: #1E1E1E;
    --light-color: #FFF;
    --light-gray-color: #FBFBFB;
    --gray-color: #EFEFEF;
    --dark-gray-color: #999;
    --primary-color: #3369F3;
    --danger-color: #F00;
    --active-group-color: #E4EDFD;
    --dark-color: #000;
}

body {
    font-family: Inter, serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--font-color);
    font-size: var(--font-size-l);
    margin: 0;
}
